{% extends '__template__.html' %}
{% load static %}

{% block AST_head %}
<link rel="stylesheet" type="text/css" href="{% static 'blogsrc/css/search.css' %}"/>
{% endblock AST_head %}

{% block AST_content %}
		<div class="back shadowback title">————{{key}}的搜索结果————</div>
		{% load tags %}
		{% for i in result %}
			<div class="back shadowback borderlist">
				<a href="/article/{{i.id}}">{{i.docname}}</a>
				<p class="time">{{i.typename}}&#12288;{{i.setname|default:"无所属系列"}}&#12288;{{i.datelast}}</p>
			</div>	
		{% endfor %}
{% endblock AST_content %}
