{% extends '__template__.html' %}
{% load static %}

{% block AST_head %}
<link rel="stylesheet" type="text/css" href="{% static 'blogsrc/css/template.css' %}"/>
<script src="{% static 'blogsrc/js/getroot.js' %}"></script>	
{% endblock AST_head %}

{% block AST_aside %}
	<aside class="rootaside shadowback" id="jsaside">
		<ul class="ulaside" id="ulaside">
			<il class="root">目录</il>
		</ul>	
	</aside>	
{% endblock AST_aside %}

{% block AST_content %}
		<div class="title">{{article.docname}}</div>
		<div class="info">创建时间：{{article.datecreate}}&#12288;&#12288;&#12288;最后修改时间：{{article.datelast}}&#12288;分区：{{article.typename}}&#12288;系列：{{article.setname|default:"无所属系列"}}</div>
		<div class="text">
			<div style="width: 97%;padding: 20px 10px;margin:auto;min-height: 500px;" id="article">
				<br class="replace">
			</div>
		</div>
		<div style="margin: 20px 0px;">
					<div class="explore back shadowback">浏览次数：{{ex_pr.explore}}</div>
					<div class="prefer back shadowback"><span><botton class="gprefer" id="gprefer" onClick="this.style.color='#FF7275'">❤</botton></span><span id="prenum">{{ex_pr.prefer}}</span></div>
					<div class="middle back shadowback"></div>
		</div>	
		<script>
		var prefer_=false;
		$("#gprefer").click(function(){
		if(prefer_==true){
			alert("您已经点过啦~");
			return;
		}
		$.ajax({
			type : "get",
			url : "/_prefer/{{article.id}}",
			success : function re(){
				alert("点赞成功~");
				$("#prenum").text(Number($("#prenum").text())+1);
			}
			   
			   });
		prefer_=true;	
	});
		</script>
		<div class="afterarticle shadowback">
			<div class="login">
				<textarea name="comment" onClick="clear(this)"placeholder="在这里写下你的评论。" form="commentform"></textarea>
				<form  class="formcomment" method="post" id="commentform" action="_comment/{{article.id}}">
					{% csrf_token %}
					你的名字：<input class="input" type="text" name="name">
					你的邮箱：<input class="input" type="text" name="mail">
					<input type="submit" class="bottom" value="评论">
				</form>	
			</div>	
		</div>
		<div class="com shadowback">
			{% for i in comments %}
				<div class="author shadowback">{{i.name}}<img src="{% static 'imageicon/comment.ico' %}" style="float:left"></div>
				<div class="comment">{{i.comment|linebreaks}}<div class="time">{{i.datecreate}}</div></div>
			{% endfor %}
		</div>	
		<div style="height: 30px;"></div>
{% endblock AST_content %}
